# this caches nix setup, making day-to-day nix usage much faster.
# see flake.nix for our nix setup
use flake

# ensure gems from this env don't mess with gems from other environments
flake_sum=$(cat flake.lock flake.nix | md5sum | cut -d ' ' -f 1)
export GEM_HOME=.gem/$flake_sum
# add bin/ executables
PATH=$(pwd)/bin:$PATH

# hack to get gem executables on path (I don't know why nix doesn't do this
# although I understand it's not nix-ey to use multiple package managers.)
PATH=$(gem env | sed -n 's/^.*EXECUTABLE DIRECTORY: \(.*\)$/\1/p'):$PATH
